@CHARSET "UTF-8";

/*
 * COLOR PALETTE
 * 
 * #C00000 basic
 * #130000 darkest-ish
 * #660000 darkest
 * #9D0000 darker
 * #D04141 brigther
 * #C39A9A brigthest
 * #EFBFBF ultra-bright
 *
 * #7B9C7B Complementary bright
 * #7F7FDF Complementary 01
 * #BFBFEF Complementary 01
 * #EFE5F8 Complementary 01
 *
 * GREYS
 * #d3d3d3
 * #bdbdbd
 * #a8a8a8
 * #939393
 * #7e7e7e
 * #696969
 * #545454
 * #3f3f3f
 * #2a2a2a
 * #151515 Darkest
 */

@media (max-width: 991px) 
{

    .navbar-header 
    {
        width: 100%;
    }
    .navbar-header SPAN.header-tagline-text
    {
    	float : left; 
    	width: 80%;
    	text-align: left;
    	padding-left : 15px ;
    }
    .navbar-brand 
    {
    	display: block;
    	float: left;
	}
	.navbar-toggle 
	{
		margin-top: 30px ;
    }
    
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in 
    { 
        display: block!important;
        
        min-height: 500px ;
    
    }
    .collapsing {
        overflow: hidden!important;
    }
    #top-nav {
	    background-color: rgba(0, 0, 0, 0.6);
	    padding: 0px 16px ;
	}
	
	
	/* added START */
	.header-frontend .navbar-nav > li 
	{
   		padding-bottom: 0px;
    	padding-top: 0px;
    	
    	display: block;
    	position: relative;
	}
	.dropdown-menu > LI
	{
		margin-left: 20px;
		
		/* width: 180px; */
	}
	
	.dropdown-menu > LI > A
	{
		border-radius: 5px; 
	}
	


	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, 
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus 
	{
    	background-color: #d04141;
    	color: #FFFFFF!important;;
	}
	
	/* added END */
}


/* START FONT AWESOME */
.fa-pull-left
{
	float:left;
}

.fa.fa-pull-left 
{
    margin-right: 0.3em;
}

.fa-quote-left
{
	color:  #939393 ;
}
/* DONT AWESOME END */


.external {
    background-image: linear-gradient(transparent, transparent), url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2210%22%20height%3D%2210%22%3E%3Cg%20transform%3D%22translate%28-826.429%20-698.791%29%22%3E%3Crect%20width%3D%225.982%22%20height%3D%225.982%22%20x%3D%22826.929%22%20y%3D%22702.309%22%20fill%3D%22%23fff%22%20stroke%3D%22%2306c%22%2F%3E%3Cg%3E%3Cpath%20d%3D%22M831.194%20698.791h5.234v5.391l-1.571%201.545-1.31-1.31-2.725%202.725-2.689-2.689%202.808-2.808-1.311-1.311z%22%20fill%3D%22%2306f%22%2F%3E%3Cpath%20d%3D%22M835.424%20699.795l.022%204.885-1.817-1.817-2.881%202.881-1.228-1.228%202.881-2.881-1.851-1.851z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 13px;
}


/* popover */
.popover
{
	font-size: x-small;
	min-width: 200px;
}
sup .popover
{
    top: 0px;
}
sub .popover, sup .popover
{
    font-size: 100% ;
    line-height: 1.3 ;
    vertical-align: baseline;
}





BODY
{
	color: #474747;
}






/* START logo and tagline */ 
.header-tagline-text
{
	color : #797979 ;
	text-transform: uppercase;
}
/* END logo and tagline */
  

/* START Nav bar */
.navbar-default .navbar-brand 
{
    color: #000;
    margin-bottom: 4px;
}

.navbar-brand span 
{
    color: #C00000  ;
}

*::-moz-selection 
{
    background: none repeat scroll 0 0 #C00000  ;
    color: #fff;
}

.header-frontend .nav li a:hover, 
.header-frontend .nav li a:focus,
.header-frontend .nav li.active a, 
.header-frontend .nav li.active a:hover, 
.header-frontend .nav li a.dropdown-toggle:hover, 
.header-frontend .nav li a.dropdown-toggle:focus, 
.header-frontend .nav li.active ul.dropdown-menu li a:hover, 
.header-frontend .nav li.active ul.dropdown-menu li.active a 
{
    background-color: #D04141  ;
    color: #fff!important;
    transition: all 0.3s ease 0s;
}

.header-frontend .navbar-default .navbar-nav > .open > a, 
.header-frontend .navbar-default .navbar-nav > .open > a:hover, 
.header-frontend .navbar-default .navbar-nav > .open > a:focus 
{
    background-color: #D04141  ;
    color: #fff!important;
    transition: all 0.3s ease 0s;
}


.header-frontend .nav li a, 
.header-frontend .nav li.active ul.dropdown-menu li a 
{
    color: #333!important;
}

/* navigation menu */
.header-frontend .navbar-nav > li 
{
	padding-bottom: 0px;
}

/* END Nav bar */




/* START Page Header */

DIV.navigation
{
	text-align: right;
}
DIV.breadcrumbs a
{
	color: #f77b6f ;
}
/* END Page Header */


/* START Revolution slider */
.main-slider {
    /* background: none repeat scroll 0 0 #C39A9A; */
    background: none repeat scroll 0 0 #DDE7F1;
}

.slide_title 
{
    color: #9D0000;
    text-transform: uppercase;
}

.nh_red_text
{
	color: #9D0000;
}

.nh_blue_text
{
	 color: #1C3863
}

.white-text
{
	color : white;
}
.yellow-text
{
	color : #FFED00;
}


.dark-almost-text 
{
    color: #707070;
}

.darker-text 
{
    color: #660000;
}

.darkish-text
{
	color: #220000;
}

A.blue-link
{
	color: #1C3863
}

.slide_btn {
    background: none repeat scroll 0 0 #9D0000;
}


.sadblue-text
{
	color : #475168 ;
}
.bolder-text
{
	font-weight: bolder ;
}

.blur-text
{
	text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

/* END Revolution slider */



/* START Welcome */
.feature-head p 
{
	color: #707070;
}

.f-box p
{
    font-style: italic;
}

.f-box:hover p, .f-box.active p 
{
    color: #fff;
    font-style: italic;
}
.btn-defaulty
{
	background-color: #B0B0B0;
	border-color: #B0B0B0;
    color: #fff;
}


/* END Welcome */


/* Newsletter */
.quote.newsletter
{
    margin: 70px 0px 50px 0px;
}

a.subscribe-btn
{
	margin-bottom: 20px;
	font-family: "Fjalla One",sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 122px;
    text-transform: uppercase;
    width: 100%;
}

DIV.subscribeMessages
{
	margin-top: 6px;
}

DIV.subscribeMessages SPAN
{
	display: none;
}

/* END newsletter */





/* FACEBOOK-BUILDING-8  */

/* PARALLAX1 */
.parallax2
{
    background: #f77b6f url("../images/facebook-type-from-your-brain.png") no-repeat fixed 50% 0 / cover ;
}

DIV.fbb8-container
{
    margin-bottom: 6%;
}

DIV.fbb8
{
    background-image: url("../images/facebook-type-from-your-brain.png");
    background-position: 50% 50%;
}
/* END FACEBOOK-BUILDING-8 */

DIV.fbb8-line
{
    background-color: rgba(105,105,105,0.3);
    padding: 2%;
    border-radius: 4px;
}

DIV.fbb8-column
{
    margin-top: 2%;
    margin-bottom: 2%;
}

DIV.fbb8-title
{
    text-align: center;
    vertical-align: middle;
    position: relative;
    top: -10px;
}
DIV.fbb8-title H1 
{
    /* 
    font-size: 2.2em;
    
    font-weight: bold;
    */
}
DIV.fbb8-title H1 SPAN
{
    /*background-color: #ff6c60;*/
    color: white;
}

DIV.fbb8-fb-image
{
    text-align: center;
}

.fbb8-fb-image-fb IMG
{
    /*
    width: 210px;
    */
   border-radius: 4px;
}
.fbb8-fb-image-dp IMG
{
    /*
    width: 250px;
    */
}
.fbb8-fb-image-rd IMG
{
    /*
    width: 250px;
    */
   border-radius: 4px;
}
DIV.fbb8-subtitle H2 
{
    
    font-size: 1.6em;

    /* 
    font-weight: bold;
    */
}
DIV.fbb8-subtitle H3.r-work-subtitle  SPAN
{
    background-color: #ff6c60; /* */
    color: white;
    line-height: 1.5;
    font-weight: bold; /**/
    font-style: normal;
    font-size: 1.6em;
}

DIV.fbb8-paragraph P 
{
    font-size: 1.4em;
   /* font-weight: bold; */
   line-height: 1.5em

}

DIV.fbb8-paragraph P SPAN
{
    background-color: #475168; /* */
    color: white;
   /* font-weight: bold; */
}

DIV.fbb8-paragraph P SPAN A
{
    color: white;
    font-weight: bold;
    font-size: larger;
}

DIV.fbb8-link
{
    text-align: center;
    font-size: 2.6em;
    color: white;
    /* 
    font-weight: bold;
    */
}


A:link.fbb8-btn {
    background-color: #475168;
    color: #FFFFFF;
    padding: 12px 6px;
    margin-top: 20px;
    font-family: "Fjalla One",sans-serif;
    width: 100%;
    text-transform: uppercase;
}
A:visited.fbb8-btn {
    color: #FFFFFF;
    background-color: #475168;
}
A:hover.fbb8-btn
{
    color: #FFFFFF ;
    background-color : #ec6459 ;
}




/* AWARENESS (index) */

.tab 
{
    background: transparent ;
}

.tab-dossier 
{
	background: transparent ;
    border-bottom: medium none;
    border-radius: 5px 5px 0 0;
    padding: 0;
}

.tab .nav-tabs.nav-justified > li.only
{
    border-radius: 4px 4px 0px 0px;
    border-left: 1px solid #EEEEEE ;
    border-top: 1px solid #EEEEEE ;
    border-right: 1px solid #EEEEEE ;
    padding-left: 24px ;
    padding-top: 16px ;
}

.tab .nav-tabs.nav-justified > li.none 
{
    border-right: 0px ;
    border-bottom: 1px solid #EEEEEE ;
}

DIV.panel-body
{
	border-left: 1px solid #EEEEEE ;
	border-right: 1px solid #EEEEEE ;
	border-bottom: 1px solid #EEEEEE ;
	padding-left: 24px; 
	padding-top: 52px; 
	border-radius: 0px 0px 4px 4px;

}


DIV.element DIV, DIV.item DIV , DIV.view DIV , DIV.view-tenth
{
	border-radius: 4px;
}
H3.r-work-subtitle-bigger 
{
    color: #475168;
    font-family: "Fjalla One",sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 8px;
    
}


/*  AWARENESS (index) END */


/* AWARNESS IN DEEP START */
DIV.popoverReferenceAuthor
{
	margin-bottom: 4px;
}
DIV.popoverReferenceSourceTitle
{
	font-style: italic;
	margin-bottom: 4px;
}
DIV.popoverReferenceSourceDetails
{
	margin-bottom: 4px;
}
DIV.popoverReferenceInternalLink
{
	margin-top: 12px;
	margin-bottom: 4px;
}

/* END AWARNESS IN DEEP */





/* CBS START */

.container-cbs
{
	background: #41cac0 none repeat scroll 0 0;
	border-radius: 4px 4px 4px 4px;
}
/*
.bio-graph-heading
{
    background: #41cac0 none repeat scroll 0 0;
    border-radius: 4px 0px 0px 4px;
    color: #fff;
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
    padding: 40px 110px;
    text-align: center;
}
.bio-graph-info 
{
    color: #89817e;
    background: #41cac0;
    height: 100%;
}

.panel-body {
    padding: 0px;
}


*/


/* CBS END */





/* DONATIONS AND SPEONSORSHIPS */
.property
{
	padding: 40px 0px 20px 0px;
}
H3.donate-thanks
{
	margin-bottom: 30px;
}

.hoverbox {
    background: #FFF;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    /* 
    
    min-height: 210px; 
    margin-bottom: 50px;
    */
    transition-duration: 500ms;
    transition-property: width, background;
    transition-timing-function: ease;
    -webkit-transition-duration: 500ms;
    -webkit-transition-property: width, background;
    -webkit-transition-timing-function: ease;
}

.hoverbox:hover, .hoverbox.active {
    background: #f77b6f;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    
    /*
    min-height: 210px;
    margin-bottom: 20px;
    */
    transition-duration: 500ms;
    transition-property: width, background;
    transition-timing-function: ease;
    -webkit-transition-duration: 500ms;
    -webkit-transition-property: width, background;
    -webkit-transition-timing-function: ease;
}


DIV.quote-info INPUT
{
	border: 0px;
	width: 100% ;
	line-height: 32px;
	font-size: 16px;
	padding-left: 8px;
}



DIV.quote-info .title
{
    color: #fff;
    font-family: "Fjalla One",sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

/* END DONATIONS AND SPEONSORSHIPS */


/* Educational videos START */
A:link.morevideo-btn
{
	/*
	font-weight: 400;
	line-height: 20px;
	font-size: 100%;
	*/
	background-color : #475168 ;
	color : #FFFFFF ;
	padding: 12px 6px ;
	margin-top: 20px ;
	font-family: "Fjalla One",sans-serif;
    
    width: 100%;
    text-transform: uppercase;
    
}
A:visited.morevideo-btn 
{
	color: #FFFFFF ;
	background-color : #475168 ;
}
A:hover.morevideo-btn 
{
	color: #FFFFFF ;
	background-color : #ec6459 ;
}
/* Educational videos END */



/* NEWS & EVENTS */
.media
{
	margin-top: 35px ;
}
.media > .pull-left
{
	margin-right: 12px ;
}
.p-thumb img
{
	width: 120px;
	height: auto;
}

.newsevent-btn
{
	/*
	font-weight: 400;
	line-height: 20px;
	font-size: 100%;
	*/
	padding: 12px 6px ;
	margin-top: 40px ;
	font-family: "Fjalla One",sans-serif;
    background: #939393 ;
    width: 100%;
    text-transform: uppercase;
    border: 1px solid transparent;
}
/* END NEWS & EVENTS */




/* EDUCATIONAL VIDEO */
DIV.educationals
{
	margin-bottom: 60px;
}
DIV.educationals DIV.quote-info p
{
	margin: 0px 0 12px 0 ;
}




H2.r-work
{
	margin-bottom: 0px;
}
H3.r-work-subtitle
{
	color: #475168;
    font-family: "Fjalla One",sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 20px;
    font-style: italic;
}
p.r-work-text
{
	margin-bottom: 20px;
}
DIV.video-thumb
{
	margin: 18px 0 18px 0 ;
}

DIV.title-bottom
{
    /* 
    box-sizing: border-box;
    overflow: hidden; 
    position: relative;
   
	margin-top: 12px ;	
	*/
}
DIV.title-bottom p
{
	margin-top: 8px ;
}
DIV.title-bottom .p-head
{
	/* font-weight: 300 ; */ 
}
.mediateca-btn
{
	/*
	font-weight: 400;
	line-height: 20px;
	font-size: 100%;
	*/
	padding: 12px 6px ;
	margin-top: 20px ;
	font-family: "Fjalla One",sans-serif;
    
    width: 100%;
    text-transform: uppercase;
    
}
/* END EDUCATIONAL VIDEO */



/* ARTWORKS */
VIDEO.video-clip 
{
  width: 100%    !important;
  height: auto   !important;
}
/* END HYPOTESIS */

/* PARALLAX1 */
.parallax1
{
	background: #f77b6f url("../images/freedom_chainbroken.jpg") no-repeat fixed 0 0 / cover ;
	margin-top: 50px;
}
.parallax1 H1
{
	font-weight: bold;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
.parallax1 H5
{
	font-weight: bold;
}
/* END ARTWORKS */



/* PRIVACY POLICY */
.tweet-box LI
{
	list-style-type: circle;
 	list-style-position: inside;
 	list-style-image: none;
 	padding-top: 10px;
}
/* END PRIVACY POLICY */


/* START ABOUT */
.about LI
{
	list-style-type: circle;
 	list-style-position: inside;
 	list-style-image: none;
 	padding-bottom: 6px;
 	padding-left: 20px;
}
/* END ABOUT */



/* START CONTACTS */
.f-box-static 
{
    background: #f4f4f4 none repeat scroll 0 0;
    border-radius: 10px;
    margin-bottom: 40px;
    min-height: 0px;
    padding: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-style: italic; 
	border: solid 1px #475268
}
.form-control 
{
    border: 1px solid #e2e2e4;
    box-shadow: none;
    color: #475168;
}
.formError
{
	border: 1px solid #660000 ;
}
.formError-text
{
	font-style: italic;
	color: #660000 ;
}
/* END CONTACTS */

/* Footer */
.footer .copyrights a 
{
    color: #f37c6b;
}
/* footer END */






/* Dossier page START */

ARTICLE.dossier SECTION ARTICLE P
{
	text-align: justify;
}
FOOTER DIV[ data-tag="HTMLPopover" ]
{
	margin-bottom: 22px;
}
FOOTER DIV[ data-tag="HTMLPopoverContent" ]
{
	margin-left: 12px;
}
FOOTER DIV[ data-tag="HTMLPopoverTitle" ]
{
	margin-bottom: 8px;
}

.reduxtext
{
    font-size: smaller;
}
/* Dossier page END */

























